body {
    font-family: Arial, sans-serif;
    background-color: #222831;
    color: #EEEEEE;
    text-align: center;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #00ADB5;
}

form {
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #00ADB5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #393E46;
}

th, td {
    border: 1px solid #00ADB5;
    padding: 10px;
    text-align: center;
}

.btn-yellow {
    background-color: #FFD369;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.btn-red {
    background-color: #FF4C29;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
